@using Modelos;
@{
    ViewBag.Title = "Reporte Formulario";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
    var Lista = ViewBag.Reporte as Modelos.ReporteHuecoDTO;
    var TipoHueco = "";
    var idInput = "";
    var idCheck = "";
    var EstadoHueco = "";
}
@section scripts {
    <script src="~/Scripts/Modulos/ReporteFormulario.js"></script>
}

<link href="~/Content/Modulos/ReporteFormulario.css" rel="stylesheet" />

<div id="ContMisReportesMain">
    <div class="contReportHeader">
        <h1>MIS REPORTES GENERADOS</h1>
    </div>
    <div class="contReportInfo">
        <p>
            Recuerda que ayudas a otros usuarios dando información más precisa y detalla, si encuentras que un reporte ya no es válido o tiene malas interacciones de otras personas (like y dislike), podras inactivarlo el reporte para que no se muestre a otros usuarios.
        </p>
    </div>
    <div class="contReportInfoTable">
        <div class="contintSpanReport">
            <span><b>Reportes totales: </b>5</span>
        </div>
        <div class="contIntTableReport1">
            <table class="tblInfoReport">
                <thead class="ThInfoReport">
                    <tr class="TbTrReport">
                        <th>ID</th>
                        <th>Fecha Rep.</th>
                        <th>TIPO</th>
                        <th> <i class="fa-regular fa-thumbs-up"></i> / <i class="fa-sharp fa-solid fa-thumbs-down"></i></th>
                        <th>ESTADO</th>
                        <th>DETALLE</th>
                    </tr>
                </thead>
                <tbody class="TbInfoReport">

                    @{
                        switch (Lista.TipoH)
                        {
                            case 1:
                                TipoHueco = "Hueco en la calle";
                                break;
                            case 2:
                                TipoHueco = "Alcantarilla sin tapa";
                                break;
                            case 3:
                                TipoHueco = "Hueco en puente";
                                break;
                            case 4:
                                TipoHueco = "Losa levantada";
                                break;
                        }
                        switch (Lista.Estado)
                        {
                            case 2:
                                idCheck = "checked";
                                EstadoHueco = "Inactivo";
                                break;
                            case 1:
                                idCheck = "";
                                EstadoHueco = "Activo";
                                break;
                        }
                        idInput = @Lista.Id_Reporte + "ch";

                        <tr class="TbTrReport">
                            <td>@Lista.Id_Reporte</td>
                            <td>@Lista.FechaRegistro</td>
                            <td>@TipoHueco</td>
                            <td class="interaccionReport1"> <span>@Lista.Like</span> <span>/</span> <span>@Lista.DisLike</span></td>
                            <td>
                                <div class="switch">
                                    <input type="checkbox" id="@idInput" class="InputStatusReport" value="@Lista.Id_Reporte"   @idCheck >
                                    <label for="@idInput"></label>
                                </div>
                            </td>
                            <td>
                                <div class="contBtnInfoReport65" onclick="AbrirModalInfoReport('@Lista.Url_Img','@Lista.Id_Reporte' , '@Lista.Direccion', '@Lista.Coordenadas', '@TipoHueco', '@EstadoHueco', '@Lista.Like', '@Lista.DisLike', '@Lista.Descripcion', '@Lista.FechaRegistro');">
                                    <i class="fa-solid fa-street-view"></i>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>